@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

/* Rediseño de barra de scroll para que solo aparezca al pasar el cursor encima */
.hover-scrollbar-x {
  /* Para Firefox */
  scrollbar-width: none;
  -ms-overflow-style: none; /* Para Internet Explorer 10-11 */
}

/* Para Chrome, Safari y Opera */
.hover-scrollbar-x::-webkit-scrollbar {
  height: 0px;
  background: transparent;
  transition: all 0.3s ease;
}

.hover-scrollbar-x:hover {
  /* Para Firefox al pasar el cursor */
  scrollbar-width: thin;
}

.hover-scrollbar-x:hover::-webkit-scrollbar {
  height: 6px; /* Altura fina de la barra de scroll */
}

.hover-scrollbar-x::-webkit-scrollbar-track {
  background: transparent;
}

.hover-scrollbar-x::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
}

.hover-scrollbar-x:hover::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.3); /* Slate-400 sutil */
}

.hover-scrollbar-x:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(45, 212, 191, 0.6); /* Color Turquesa cuando pasas el mouse directamente sobre la barra */
}
